.banner-bg{
  transform: scale(1.5);
}
.banner-image img{
  transform: scale(2.2);
  margin-left: 280px;
}
.banner-title{
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media only screen and (max-width: 767px) {
  .banner-image img{
    transform: scale(1.5);
    margin-left: 100px;
  }
}
@media only screen and (min-width: 768px) {
  .banner-content{
    width: 350px;
    position: inherit;
    z-index: 2;
    text-align: justify;
  }
}